* {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.9375rem;
    background-color: hsl(212, 45%, 89%);
}

main {
    width: min(40%, 300px);
    height: auto;
    margin: 8% auto;
    background-color: hsl(0, 0%, 100%);
    padding: 1% 1% 2% 1%;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

article img {
    width: 100%;
    border-radius: 8px;
}

section {
    margin-top: 5%;
    padding: 0 3%;
}

h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    line-height: 1.2;
    font-size: 1.25rem;
    margin-bottom: 3%;
    padding: 0% 5%;
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: .85rem;
    padding: 0 6%;
}

/* Modile Design */

@media (max-width: 450px) {
    html {
        font-size: 1.25rem;
    }


    main {
        width: 90%;
        margin: 20% 5%;
        padding: 5% 5% 12% 5%;
    }
}



/* 
*** Style *** 

*** Font Weights*** 

400 - 700

*** Colors ***

White: hsl(0, 0%, 100%) 
Light gray: hsl(212, 45%, 89%)
Grayish blue: hsl(220, 15%, 55%)
Dark blue: hsl(218, 44%, 22%) 

*/
